*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  font-family: Georgia;
  font-size: $font-size;
 
}

.start {
  max-width: 1280px;
  background: $background-header-footer;
  // background-color: url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}