*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

body {
  font-family: Georgia;
  font-size: $font-size;
 
}

.containerHeaderFooter {
  width: 1200px;
  margin: 0 auto;
}


h2{
  color: $color-header-footer-h;
}

.start {
  background: $background-header-footer;
  background-repeat: repeat;
  overflow:hidden;
  color: $color-header-footer-h;

    .header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 60px;
      margin: auto 40px;
      padding-top: 78px;
      
      .a {
        font-family: Georgia;
        font-size: 32px;
        line-height: 110%;  
        list-style-type: none;
        margin-bottom: 10px;
        text-decoration: none;
        color: $color-header-footer-primary;
      }
  
        
      
      p{
        color: $color-header-footer-h;
      }

      .nav-menu{
        width: 443px;
        display: flex;
        align-items:center;
        justify-content: space-between;
        list-style-type: none;
        
        
        
        a{
          font-family: Arial;
          font-size: 15px;
          line-height: 160%;
          color: $color-header-footer-li;
          
        }

        .active{
          border-bottom: 1px solid $color-header-footer-primary;
          color: #FAFAFA;
        }
      }
    }
  
}
.startscreen{
  width: 1200px;
  
  display: flex;
  text-align: left;
  justify-content: space-between;
  margin: 180px 40px auto 40px;

  .textstart{
    max-width: 460px;
    margin: 163px 42px 243px 0;

    h2{
      color: $color-header-footer-h;
      font-size: 44px;
      line-height: 130%;
    }

    p{
      color: $color-header-footer-li;
      margin: 42px auto;
    }
  }
  .startbutton{
    a{
      color: $color-buttons;
    }

    background-color: $background-buttons;
    border-radius: $border-radius;
    text-align: center;
    max-width: 207px;
    padding: 15px 45px;
  }
}

.container{
  margin: 0 auto;
  max-width: 850px;
}

.containerAbout {
  height: 588px;
}

.about{
  background-color: $background-about-help;
  display: flex;
  text-align: center;
  justify-content: space-between;
  
  img {
    margin: 80px auto;
  }
  
  .text-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 430px;
    
    h3 {
      font-family: Georgia;
      font-size: 35px;
      line-height: 130%;
      color: $color-about-h;
      width: 370px;
    }

    p{
      text-align: justify;
      margin: 25px auto;
      color: $color-about-p;
    }
  }
}

.pets{
  background-color: $background-pets-donation;
  background-repeat: repeat;
  overflow: hidden;
  height: 877px;

  h3 {
    font-size: 35px;
    font-weight: normal;
    line-height: 130%;
    color: $color-about-h;
    width: 400px;
    text-align: center;
    margin: 80px auto 60px auto;
  }
}
.pets-grid {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.pets-card {
  background-color: $background-about-help;
  margin: auto 45px;
  // padding: auto 90px;

  p{
    margin: 30px auto;
  }
  .pets-buttons {
    border: 2px solid $background-buttons;
    border-radius: $border-radius;
    padding: 15px 45px;
    margin: 30px 41.5px;

    a {
      font-size: 17px;
      color: $color-buttons;
    }
  }
}

.pets-button {
  a{
    color: $color-buttons;
    
  }
  font-size: 17px;
  background-color: $background-buttons;
  border-radius: $border-radius;
  text-align: center;
  max-width: 261px;
  padding: 15px 45px;
  margin: 60px auto;
  
}
