header {
  color: $color-header-footer-h;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
   
    a {
      font-size: 32px;
      line-height: 110%;  
      color: $color-header-footer-primary;
    }
      
    p {
      margin-top: 10px;
      color: $color-header-footer-h;
    }
    nav{
      .burger{
        display: none;
      }
      .nav-menu{
        width: 443px;
        display: flex;
        align-items:center;
        justify-content: space-between;
        padding: 30px 0;
        list-style-type: none;
        text-decoration: none;
        
        a{
          font-family: Arial;
          font-size: 15px;
          line-height: 160%;
          color: $color-header-footer-li;
          list-style-type: none;
          text-decoration: none;
          cursor: pointer;
        }

        .active{
          border-bottom: 1px solid $color-header-footer-primary;
          color: #FAFAFA;
        }
      }
    }
  }

@media(max-width: $max-width-md) {
  .start {
    width: 100%;
  }  

  header nav{
    .burger{
      display: block;
      margin-right: 30px;
      cursor: pointer;
      
    }
    .nav-menu{
      display: none;
    }
  }  

  .open {
    display: flex;
      .burger{
        position: absolute;
        right: 10%;
        transform: rotate(90deg) !important;
        align-items: flex-end;
      }
     .nav-menu  {
        justify-content: center;
        position: absolute;
        top: 122px;
        right: 0px;
        max-width: 320px;
        background-color: $color-buttons !important;
        display: block !important;
        z-index: 10;
      li{
        text-align: center !important;
        margin: 60px auto !important;
        font-family: Arial;
        font-size: 32px;
        line-height: 160%;
        }
       a {
        font-family: Arial;
        font-size: 32px;
        line-height: 160%;
       } 
      }
    }  
  }

