.start {
  background: $background-header-footer;
  overflow: hidden;
  color: $color-header-footer-h;
   
  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;

    a {
      font-size: 32px;
      line-height: 110%;  
      color: $color-header-footer-primary;
    }
      
    p {
      margin-top: 10px;
      color: $color-header-footer-h;
    }
  
    .nav-menu{
      max-width: 443px;
      display: flex;
      align-items:center;
      list-style-type: none;
      text-decoration: none;
      
      a{
        font-family: Arial;
        font-size: 15px;
        line-height: 160%;
        color: $color-header-footer-li;
        margin-right: 10px;
      }

      .active{
        border-bottom: 1px solid $color-header-footer-primary;
        color: #FAFAFA;
      }
    }
  }
}

@media(max-width: 768px) {
  .start {
    width: 100%;
  }

  .header{
    width: 100%;
    justify-content: space-around;
    margin-left: 10px;
  }
  
  
}

