.start {
  background: $background-header-footer;
  overflow: hidden;
  color: $color-header-footer-h;
  overflow: hidden;
  
  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;

    a {
      font-size: 32px;
      line-height: 110%;  
      color: $color-header-footer-primary;
    }
      
    p {
      margin-top: 10px;
      color: $color-header-footer-h;
    }
  
    .nav-menu{
      max-width: 443px;
      display: flex;
      align-items:center;
      list-style-type: none;
      text-decoration: none;
      
      a{
        font-family: Arial;
        font-size: 15px;
        line-height: 160%;
        color: $color-header-footer-li;
        margin-right: 10px;
      }

      .active{
        border-bottom: 1px solid $color-header-footer-primary;
        color: #FAFAFA;
      }
    }
  }
}

.startscreen{
  display: flex;
  text-align: left;
  justify-content: space-between;
  
  width: 100%;
  
   .textstart{
    max-width: 100%;
    margin: 163px 42px 243px 0;

    h2{
      color: $color-header-footer-h;
      font-size: 44px;
      line-height: 130%;
    }

    p{
      color: $color-header-footer-li;
      margin: 42px auto;
    }
  }

  .startbutton{
    a{
      color: $color-buttons;
    }

    background-color: $background-buttons;
    border-radius: $border-radius;
    text-align: center;
    max-width: 207px;
    padding: 15px 45px;
  }

  img {
    // max-width: auto;
    // // margin-top: 100%;
    // width: 100%;
  }
}

@media(max-width: 768px) {
  .start {
    width: 100%;
  
    .header{
     justify-content: space-around;
    }
  }
  
  .startscreen{
    flex-direction: column;
    
    
    .textstart{
      text-align: center;
      margin: 60px auto;
    }
    .startbutton{
      margin: 0 auto;
    }  
    img {
      float: right;
      // max-width: 100%;
      width: 80%;
      
    }
  }
}

