*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

body {
  font-family: Georgia;
  font-size: $font-size;
}

h3 {
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  color: $color-about-h;
  margin: 0 auto;
  letter-spacing: 0.06em;
}

@media(max-width: 576px) {
  h3 {
    font-size: 25px;
  }
}  

.hover:hover{
  background-color: $background-buttons-hover;
  cursor: pointer;
  transition-duration: .2s;
}

.start {
  background: $background-header-footer;
  overflow: hidden;
  color: $color-header-footer-h;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

@media(max-width: 768px) {
  .container {
    max-width: 708px;
  }
}

@media(max-width: 576px) {
  .container {
  max-width: 100%;
  padding: 0 10px;
  }
}

h2{
  color: $color-header-footer-h;
}

.startscreen{
  margin-top: 60px;
  display: flex;
  text-align: left;
  justify-content: space-between;
  width: 100%;
  
   .textstart{
    max-width: 40%;
    margin-right: 42px;

    h2{
      color: $color-header-footer-h;
      font-size: 44px;
      line-height: 130%;
    }

    p{
      color: $color-header-footer-li;
      margin: 42px auto;
    }
  }

  .startbutton{
    a{
      color: $color-buttons;
    }

    background-color: $background-buttons;
    border-radius: $border-radius;
    text-align: center;
    max-width: 207px;
    padding: 15px 45px;
  }
  div img{
    width: 100%;
    display: block;
  }
  img {
    max-width: 100%;
    display:block;
    width: 70%;
  }
}

@media(max-width: 768px) {
  .startscreen{
    flex-direction: column;
    width: 100%;
    margin-top: 0;
    
    .textstart{
      max-width: 70%;
      text-align: center;
      margin: 60px auto;
    }
    .startbutton{
      margin: 0 auto;
    }  
    img {
      margin-left: 150px;
      max-width: 60%;
    }
  }
}  

@media(max-width: 600px) {
  .startscreen .textstart {
    h2{
      font-size: 25px;
    }
  }
  .startscreen img {
    margin: 0 auto;
  }
}  

.about{
  margin-top: 80px;
  margin-bottom: 100px;
  background-color: $background-about-help;
  display: flex;
  text-align: center;
  justify-content: center;
  max-width: 100%;
  
  div img{
    width: 100%;
  }

  img {
    max-width: 70%;
  }
  
  .text-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 120px;
    width: 40%;
       
    h3 {
      max-width: 370px;
    }

    p{
      text-align: justify;
      margin: 25px auto;
      color: $color-about-p;
    }
  }
}

@media(max-width: 768px) {
  .about {
    width: 100%;
    flex-direction: column-reverse;
    
    .text-about{
      width: 80%;
      margin: 0 auto;
      margin-bottom: 80px;
    }

    img {
      max-width: 50%;
      margin: 0 auto;
    }
  }
}  

@media(max-width: 576px) {
  .about{
    margin: 42px auto;
  
    .text-about {
      width: 80%;
      margin-bottom: 42px;
    } 
  
    img {
      max-width: 60%;
      margin: 0 auto;
    }
  } 
}  

.pets{
  background-color: $background-pets-donation;
  overflow: hidden;
  max-width:100%;
  
  h3 {
    max-width: 45%;
    text-align: center;
    margin: 80px auto 60px auto;
  }
}

.pets-grid {
  max-width:100%;
  display: flex;
  overflow: hidden;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;

  .left-button {
    position: absolute;
    top: 50%;
    left: 0;
  }
  .right-button {
    position: absolute;
    top: 50%;
    right: 0%;
  }

  button {
    border: 2px solid $background-buttons;
    border-radius: 100px;
    height: 52px;
    max-width: 52px;
    padding: 0 17px;
    align-items: center;
    
    .bigger{
      justify-content: center;
    }
  }
}

.pets-card {
  display:flex;
  flex-direction: column;
  background-color: $background-about-help;
  margin: 0 15px;
  max-width: 50%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  
  div{
    width: 100%;
    max-width: 100%;
    img{
      width:100%;
    }
  }

  p{
    margin: 30px auto;
  }

  .pets-buttons {
    border: 2px solid $background-buttons;
    border-radius: $border-radius;
    padding: 15px 0;
    margin: 30px 0;
    min-width: 200px;
    max-width: 200px;
    
    a {
      font-size: 17px;
      color: $color-buttons;
    }
  }
}

.pets-button {
  font-size: 17px;
  background-color: $background-buttons;
  border-radius: $border-radius;
  text-align: center;
  max-width: 270px;
  padding: 15px 45px;
  margin: 60px auto;

  a{
    color: $color-buttons;
  }
}

@media(max-width: 900px) {
  .pets {
    max-width: 100%;
    margin: 0 auto;
    
    h3{
      max-width: 60%;
    }

    .pets-grid{
      width: 100%;
      max-width: 628px;
      margin: 0 auto;
      padding: 0 40px;
      justify-content: flex-start;

      .left-button {
        left: 12px;
      }
      .right-button {
        right: -0px;
      }

      .pets-card {
        max-width: 50%;
        flex-shrink: 0;
        overflow: hidden;
      }
    }
  }
}  

@media(max-width: 600px) {
  .pets {
    width:100%;

    h3{
      max-width: 80%;
    }
    .pets-grid{
      max-width: 290px;
      width:100%;
      margin: 0 auto;
      padding: 0;
      padding-bottom: 55px;
      justify-content: flex-start;

      .left-button {
        top: 90%;
        left: 30%;
      }
      .right-button {
        top: 90%;
        right: 30%;
      }

      .pets-card {
        max-width: 100%;
      }
    }
    .pets-button{
      margin: 20px auto;
    
    }
  }
}  

.help-content {
  margin: 80px auto 100px auto;
  
  h3 {
    text-align: center;
    max-width: 308px;
    margin: 0 auto;
  }

  .help-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    
    figure{
      width:15%;
      margin-top: 55px;
      margin-left: 15px;
      margin-right: 15px;
      svg {
        min-height: 60px;
      }
    }

    figcaption {
      margin-top: 30px;
    }
  }
}

@media(max-width: 768px) {
  .help-content {
    width:100%;
    .help-icon figure{
      width:25%;
    }
  }
} 

@media(max-width: 576px) {
  .help-content {
    margin: 42px auto;
    width:100%;
    h3{
      max-width: 80%;
      padding-bottom: 30px;
    }
    .help-icon {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      align-items: center;
      max-width: 100%;
      margin: 0 auto;
      figure{
        width:50%;
        margin: 15px auto;
      }
    }
  }
} 

.backdonation{
  background-color: $background-pets-donation;
  padding: 80px 0 100px 0;
}

.donation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  img {
    max-width: 100%;
  }

  .donation-content{
    max-width: 40%;
    margin-left: 30px;
    
    p {
      letter-spacing: 0.06em;
      color: $color-about-h;
      margin: 20px auto;
    }

    .credit-card {
      max-width: 319px;
      background-color: $background-buttons;
      border-radius: 9px;
      display: flex;
      align-items: center;
      padding: 10px 15px;
      img{
        margin-right: 15px;
      }
    }

    .legal-information {
      font-family: Arial;
      font-style: italic;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      color: #B2B2B2;
    }
  }
}

@media(max-width: 768px) {
  .donation {
    flex-direction: column-reverse;

    .donation-content{
      margin-bottom: 60px;
      align-items: center;
      max-width: 70%;
    }
  }  
}  

@media(max-width: 576px) {
  .backdonation{
    padding: 42px 0;
  }
  .donation .donation-content{
    margin: 0 auto;
    max-width: 90%;
    h3{
      text-align: center;
    }
        
  }  
}  
