.headerpetsback{
  a{
  color: $color-about-h;
  }
  p{
    color: $color-buttons;
  }
  .burger{
    color: $color-about-h;
  }  
  .nav-menu .active{
    color: $color-buttons;
  }
  .open .active{
    color:$color-header-footer-li;
  }
}
.backpets{
  position: relative;
  background-color: $background-pets-donation;
  overflow: hidden;
  padding-bottom: 100px;
}
.h3pets {
  max-width: 50%;
  text-align: center;
  margin: 42px auto;
}

form {
  text-align: end;
}

option {
  color: black;
}

.modal-content {
  display: block;
  width: 1000px;
  margin: 50px auto;
  position: absolute;
  background-color: $background-about-help;
  display: flex;
  text-align: center;
  justify-content: center;
  max-width: 100%;
  z-index: 10;
  
  .close-modal {
    float: right;
    border:2px solid $background-buttons;
    border-radius: 100px;
  }

  div img{
    width: 100%;
  }

  // img {
  //   max-width: 100%;
  // }
  .modal-text {
    margin: 50px;
    width:500px;
  }
}

.ourpets-content {
  max-width: 100%;
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  row-gap: 30px;
  column-gap: 30px;
  margin: 0 auto;
}

.ourpets-navigation {
  display: flex;
  justify-content:center;
  margin-top: 60px;
  
  button {
    border: 2px solid $background-buttons;
    border-radius: 100px;
    height: 52px;
    width: 52px;
    align-items: center;
    margin-right: 20px;
  } 
}

@media(max-width: $max-width-xl) {
  .backpets{
    padding-bottom: 70px;
  }
  
  .ourpets-content {
    max-height: 950px;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 1fr 1fr;
    overflow: hidden;
    .ourpets-card {
      overflow: visible;
    } 
  }
}

@media(max-width: $max-width-lg) {
  .backpets{
    padding-bottom: 70px;
  }
  .h3pets {
    max-width: 70%;
  } 

  .ourpets-content {
    max-height: 1435px;
    max-width: 628px;
    grid-template-columns: 250px 250px;
    grid-template-rows: 1fr 1fr 1fr;
    overflow: hidden;
  }
  .ourpets-navigation button {
    margin-right: 10px;
  }
}

@media(max-width: $max-width-sm) {
  .backpets{
    padding-bottom: 42px;
  }

  .ourpets-content {
    max-height: 1385px;
    max-width: 290px;
    grid-template-columns: 250px;
    overflow: hidden;
  }
}
