.headerpetsback{
  a{
  color: $color-about-h;
  }
  p{
    color: $color-buttons;
  }
  .burger{
    color: $color-about-h;
  }  
  .nav-menu .active{
    color: $color-buttons;
  }
  .open .active{
    color:$color-header-footer-li;
  }
}
.backpets{
  
  background-color: $background-pets-donation;
  overflow: hidden;
  padding-bottom: 100px;
  .container{
    position: relative;
  }
}

.h3pets {
  max-width: 50%;
  text-align: center;
  margin: 42px auto;
}

form {
  text-align: end;
}

option {
  color: black;
}

.modal-content {
  left: 5%;
  display: block;
  width: 1000px;
  position: absolute;
  background-color: $background-about-help;
  display: flex;
  text-align: center;
  justify-content: center;
  z-index: 10;
  button {
    justify-content: right;
  }
  .icon-close {
    width: 50px;
    height: 50px;
    border:3px solid $background-buttons;
    border-radius: $border-radius;
   
    margin: 15px;
    cursor: pointer;
  }

  div {
    max-width: 100%;
    img{
      margin: 20px auto;
      margin-bottom: 400px;
      width: 100%;
      max-width: 100%;
    }
  }


  .modal-text {
    font-size: 20px;
    margin: 100px;
    width:40%;
    p {
      padding: 10px 0;
    }
  }
}

.ourpets-content {
  max-width: 100%;
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  row-gap: 30px;
  column-gap: 30px;
  margin: 0 auto;
}

.ourpets-navigation {
  display: flex;
  justify-content:center;
  margin-top: 60px;
  
  button {
    border: 2px solid $background-buttons;
    border-radius: 100px;
    height: 52px;
    width: 52px;
    align-items: center;
    margin-right: 20px;
  } 
}

@media(max-width: $max-width-xl) {
  .backpets{
    padding-bottom: 70px;
  }
  .modal-content {
    width: 700px;

  } 
  .ourpets-content {
    max-height: 950px;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 1fr 1fr;
    overflow: hidden;
    .ourpets-card {
      overflow: visible;
    } 
  }
}

@media(max-width: $max-width-lg) {
  .backpets{
    padding-bottom: 70px;
  }
  .h3pets {
    max-width: 70%;
  } 
  .modal-content {
    left: 15%;
    width: 500px;
    flex-direction: column-reverse;
    .modal-text {
      margin: 10px auto;
      width:80%; 
    }   

    div {
      max-width: 100%;
      img{
        margin: 10px auto;
        margin-bottom: 100px;
        
      }
    } 
    
    button {
      align-self: flex-end;
      
    } 
  } 
  .ourpets-content {
    max-height: 1435px;
    max-width: 628px;
    grid-template-columns: 250px 250px;
    grid-template-rows: 1fr 1fr 1fr;
    overflow: hidden;
  }
  .ourpets-navigation button {
    margin-right: 10px;
  }
}

@media(max-width: $max-width-sm) {
  .backpets{
    padding-bottom: 42px;
  }
  .modal-content {
    left: 5%;
    width: 400px;
  } 
  .ourpets-content {
    max-height: 1385px;
    max-width: 290px;
    grid-template-columns: 250px;
    overflow: hidden;
  }
}
