$font-size: 15px;

$border-radius: 100px;

$color-header-footer-h: #FFFFFF;
$color-header-footer-li: #CDCDCD;
$color-header-footer-primary: #F1CDB3;


$color-buttons: #292929;

$color-about-h: #545454;
$color-about-p: #4C4C4C;


$background-about-help: #FFFFFF;
$background-pets-donation: #F6F6F6;
$background-header-footer: linear-gradient(45deg,rgba(81,61,47,1), rgba(33,31,32,1));

$background-buttons: #F1CDB3;
$background-buttons-hover: #FDDCC4;

